<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aurjobs</title>
	<link rel="stylesheet" type="text/css" href="newpage1.css">
</head>
<body>

<section class="banner-section">
	<div class="container newpage">
		<div class="col-div-6">
			<h1 class="heading">A blog that people<br> actually want to read</h1>
		</div>
		<div class="col-div-6">
			<div style="text-align: center;"><p class="logo"><span>Aur </span>jobs</p><p class="logotext">Blogs</p></div>
            
		</div>
		<div class="clearfix"></div>
	</div>
</section>


<section class="newitem">
	<div class="container">
		<br><br>
		<div class="col-div-6">
				<div class="box-1">
				<img src="blogs/newblog-01.jpg" class="b-img">
				<h3 class="heading1">Blogs</h3>
				<p class="blog-heading">How to Get a Job at Google as a College Student</p>
				<p class="text">
                    Getting a job at Google is a dream for many college students, but it can seem daunting. After all, Google is one of the most prestigious companies in the world, and its hiring process is notoriously competitive. But don't worry - it's definitely possible to get a job at Google as a college student. Here are a few tips:
                </p>
                <p class="text">
					<h3 class="blog-heading-1">Start early.</h3> The earlier you start preparing for a job at Google, the better. This means researching the company, its different roles, and its hiring process. You should also start developing your skills and experience, such as by taking relevant courses, participating in internships, and working on personal projects.
					</p>
					<p class="text">
					<h3 class="blog-heading-1">Get involved on campus.</h3> There are many ways to get involved on campus that can help you prepare for a job at Google. For example, you can join a computer science club, participate in hackathons, or volunteer for a student organization. Getting involved on campus is a great way to develop your skills, network with people in your field, and build a strong resume.
					</p>
					<p class="text">
					<h3 class="blog-heading-1">Network with Googlers.</h3> Networking with Googlers is one of the best ways to learn more about the company and get your foot in the door. Attend industry events, reach out to Googlers on LinkedIn, and ask for informational interviews. Networking can help you learn more about the company culture, different job roles, and the hiring process.
					</p>
					<p class="text">
					<h3 class="blog-heading-1">Tailor your resume and cover letter to each job you apply for.</h3> Don't just send out a generic resume and cover letter to every job you apply for. Take the time to tailor your resume and cover letter to each specific job, highlighting your most relevant skills and experience.
					</p>
					<p class="text">
					<h3 class="blog-heading-1">Prepare for the interview process.</h3> Google's interview process is notoriously difficult, so it's important to be prepared. Practice answering common interview questions, and be ready to talk about your skills, experience, and why you want to work at Google.
					</p>
					<p class="text">
					Getting a job at Google as a college student is definitely possible, but it takes hard work and dedication. By following these tips, you can increase your chances of landing your dream job.
					</p>
					<p class="text">
					Bonus tip: Don't be afraid to start small. If you can't get a full-time job at Google right after college, consider applying for an internship or a contract position. This is a great way to gain experience at the company and show your worth. Once you've had a chance to prove yourself, you'll be in a better position to land a full-time job.
					</p>
				</p>
				<span class="name">Raghav Bansal . OCT 21, 2023</span>
		</div>

		<div class="clearfix"></div>
	</div>
</section>

<br><br>


<section>
	<div class="container" style="text-align:center;">
		<h3>Latest stories</h3>
		<br>
		
		<div class="box-2">
			<img src="/views/companies/facebook.png" class="b-img-1">
			<h3 class="heading1">Entertainment</h3>
				<p class="blog-heading-1">Entertainment good for health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>

		<div class="box-2">
			<img src="/views/companies/Google.png" class="b-img-1">
			<h3 class="heading1">Animals</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>

		<div class="box-2">
			<img src="/views/companies/microsoft.png" class="b-img-1">
			<h3 class="heading1">Photograpy</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>
		
		<div class="clearfix"></div>

		<div class="box-2">
			<img src="/views/companies/microsoft.png" class="b-img-1">
			<h3 class="heading1">Fun</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>

		<div class="box-2">
			<img src="/views/companies/netflix.png" class="b-img-1">
			<h3 class="heading1">Food</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>

		<div class="box-2">
			<img src="/views/companies/Deloitte.png" class="b-img-1">
			<h3 class="heading1">Food</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>

		<div class="clearfix"></div>
	</div>
</section>


<section class="foot-section">
	<div class="container">
		<div class="foot-inner">
		<h1 class="heading" style="margin: 0px;">Get our weekly email</h1>
			<p class="p1">Aurjobs - Finding Aurjobs for You, Get the updates of new blogs in you inbox</p>
			<div class="input-box ibox2"><input type="text" placeholder="Enter Your Email"><button>Sign up</button></div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<p>Copyright@ Aurjobs</p>
	</div>
</footer>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1581117158690045"
     crossorigin="anonymous"></script>

</body>
</html>