<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aurjobs</title>
	<link rel="stylesheet" type="text/css" href="newpage1.css">
</head>
<body>

<section class="banner-section">
	<div class="container newpage">
		<div class="col-div-6">
			<h1 class="heading">A blog that people<br> actually want to read</h1>
		</div>
		<div class="col-div-6">
			<div style="text-align: center;"><p class="logo"><span>Aur </span>jobs</p><p class="logotext">Blogs</p></div>
            
		</div>
		<div class="clearfix"></div>
	</div>
</section>


<section class="newitem">
	<div class="container">
		<br><br>
		<div class="col-div-6">
				<div class="box-1">
				<img src="new4.jpg" class="b-img">
				<h3 class="heading1">Blogs</h3>
				<p class="blog-heading">Aurjobs: The AI-powered Startup providing Hiring and Jobs Solution for job seekers and recruiters</p>
				<p class="text">
                    <strong class="newtext">Aurjobs is Changing the way of Hiring in the Industry with its Ai. </strong>Aurjobs is a new AI-powered job search platform that makes it easier for job seekers to find the right jobs and for recruiters to find the right candidates. Aurjobs uses AI to match job seekers with jobs that are a good fit for their skills and experience, and to help recruiters screen resumes more efficiently.
                </p>
                <p class="text">
                    <h3 class="blog-heading-1">For job seekers</h3>
                    
                    Aurjobs makes it easy for job seekers to find the right jobs by providing them with a number of features, including:
                    
                    A personalized job feed: Aurjobs uses <strong class="newtext">AI to recommend jobs to job seekers</strong> based on their skills and experience. This means that job seekers can spend less time searching for jobs and more time applying for jobs that they are a good fit for.
                    Smart job search: Aurjobs allows job seekers to search for jobs using a variety of criteria, including keywords, location, and job type. Aurjobs also allows job seekers to save their job searches so that they can easily check back on them later.
                    Easy job applications: Aurjobs makes it easy for job seekers to apply for jobs by providing them with a simple online application form. Aurjobs also allows job seekers to upload their resumes and cover letters directly to Aurjobs, so that they do not have to send them to each employer separately.
                </p>
                <p class="text">
                    <h3 class="blog-heading-1">For recruiters</h3>
                    
                    Aurjobs makes it easy for recruiters to find the right candidates by providing them with a number of features, including:
                    
                    A powerful resume search engine: Aurjobs allows recruiters to search for resumes based on a variety of criteria, including skills, experience, and education. Aurjobs also allows recruiters to save their resume searches so that they can easily check back on them later.
                    Automated resume screening: Aurjobs uses <strong class="newtext">AI to automatically screen resumes for recruiters</strong>. This helps recruiters to save time and to identify the most qualified candidates for their open positions.
                    Easy candidate management: Aurjobs makes it easy for recruiters to manage their candidates. Aurjobs allows recruiters to track the status of each candidate, to send them messages, and to schedule interviews.
                    Subscribe AI
                    
                    Aurjobs' Subscribe AI feature is a powerful tool that allows job seekers to stay up-to-date on the latest job openings that are a good fit for their skills and experience. With Subscribe AI, job seekers can receive alerts whenever new jobs are posted that match their criteria. This helps job seekers to be the first to apply for the jobs that they are most interested in.
                </p>
                <p class="text">
                    <h3 class="blog-heading-1">Conclusion</h3>
                    
                    Aurjobs is a new AI-powered job search platform that is making it easier for job seekers to find the right jobs and for recruiters to find the right candidates. Aurjobs is <strong class="newtext">a valuable tool</strong> for both job seekers and recruiters, and it is helping to make the job search process more efficient and effective.</p>
				<span class="name">Raghav Bansal . OCT 21, 2023</span>
		</div>
			</div>
		<div class="col-div-4">
			<div class="lr-box">
			<div class="col-div-6">
				<h3 class="heading1">Food</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
			</div>
			<div class="col-div-6">
				<img src="/views/companies/apple.png" class="b-img-1">
			</div>
			<div class="clearfix"></div>
			<hr class="line">
			</div>


			<div class="lr-box">
			<div class="col-div-6">
				<h3 class="heading1">Technology</h3>
				<p class="blog-heading-1">Looking for tech blogs</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
			</div>
			<div class="col-div-6">
				<img src="/views/companies/amazon.png" class="b-img-1">
			</div>
			<div class="clearfix"></div>
			<hr class="line">
			</div>

			<div class="lr-box">
			<div class="col-div-6">
				<h3 class="heading1">Food</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
			</div>
			<div class="col-div-6">
				<img src="/views/companies/atlassian.png" class="b-img-1">
			</div>
			<div class="clearfix"></div>
			<hr class="line">
			</div>

		</div>

		<div class="clearfix"></div>
	</div>
</section>

<br><br>


<section>
	<div class="container" style="text-align:center;">
		<h3>Latest stories</h3>
		<br>
		
		<div class="box-2">
			<img src="/views/companies/facebook.png" class="b-img-1">
			<h3 class="heading1">Entertainment</h3>
				<p class="blog-heading-1">Entertainment good for health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>

		<div class="box-2">
			<img src="/views/companies/Google.png" class="b-img-1">
			<h3 class="heading1">Animals</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>

		<div class="box-2">
			<img src="/views/companies/microsoft.png" class="b-img-1">
			<h3 class="heading1">Photograpy</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>
		
		<div class="clearfix"></div>

		<div class="box-2">
			<img src="/views/companies/microsoft.png" class="b-img-1">
			<h3 class="heading1">Fun</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>

		<div class="box-2">
			<img src="/views/companies/netflix.png" class="b-img-1">
			<h3 class="heading1">Food</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>

		<div class="box-2">
			<img src="/views/companies/Deloitte.png" class="b-img-1">
			<h3 class="heading1">Food</h3>
				<p class="blog-heading-1">Good Food Good Health</p>
				<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting </p>
				<span class="name">Manoj Singh . SEP 21, 2021</span>
		</div>

		<div class="clearfix"></div>
	</div>
</section>


<section class="foot-section">
	<div class="container">
		<div class="foot-inner">
		<h1 class="heading" style="margin: 0px;">Get our weekly email</h1>
			<p class="p1">Aurjobs - Finding Aurjobs for You, Get the updates of new blogs in you inbox</p>
			<div class="input-box ibox2"><input type="text" placeholder="Enter Your Email"><button>Sign up</button></div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<p>Copyright@ Aurjobs</p>
	</div>
</footer>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1581117158690045"
     crossorigin="anonymous"></script>

</body>
</html>