<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurjobs : Your ai Recruiter</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="NewBottom.css">
    <link rel="stylesheet" href="newmenu.css">
</head>
<body>
    <div class="newpages">
    <div class="header">
        <h1 class="aurjobs">Aurjobs</h1>
        <div class="menu">
         <svg class="line-top" width="750" height="15" viewbox="0,0 1000,20">
          <line
           class="line-dash"
           x1="0"
           y1="15"
           x2="1000"
           y2="15"
           style="stroke: orange; stroke-width:2; stroke-linecap:round; stroke-dasharray: 180,1200; stroke-dashoffset: -35;"
          />
         </svg>
         <ul>
            <li>Home</li><li>Gallery</li><li>Contact</li><a href="about.html"><li>About</li></a>
         </ul>
         <svg class="line-bottom" width="750" height="30" viewbox="0,0 1000,40">
          <polygon class="lb" points="35,53 115,53 125,43 135,53 215,53" />
          <polygon class="lb" points="285,53 365,53 375,43 385,53 465,53" />
       
          <polygon class="lb" points="535,53 615,53 625,43 635,53 715,53" />
       
          <polygon class="lb" points="785,53 865,53 875,43 885,53 965,53" />
         </svg>
        </div>
       </div>
       </div>

       <!-- new menu -->

       <div class="newmenu">
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
         <div class="bar1"></div>
         <div class="bar2"></div>
         <div class="bar3"></div>
         <ul class="mobile-menu">
           <li><a><form action="aurjobs10.onrender.com">Home</form></a></li>
           <li><form action="/blogs">Blogs</form></li>
           <li><form action="/subscribe"><input class="newmenusubscribeai" type="submit" value="Subscrition.ai"></form></li>
           <li id="login"><form action="/newjobpost"><input type="submit" value="Hire"></form></li>
           <li id="signup"><a href="about.html">about</a></li>
         </ul>
       </div>
       <h1 class="newheading">Aurjobs</h1>
       </div>

       
    <section class="heading">
        <!-- <h1>Aurjobs</h1> -->
        <img src="aurjobs.png" alt="">
        <!-- <h2><code>Aurjobs</code> helps you get the right jobs with <code>the power of ai</code></h2> -->
    </section>
    <section class="main">
        <!-- <h1>Founders</h1> -->
        <div class="newpage">
        <!-- <h1>Founders</h1> -->
        <!-- <div class="newfounder"> -->
            <div class="newdetails">
            <h1>Keshav Agarwal</h1>
            <h2>Founder and CEO, CTO - Aurjobs</h2>
            <p>
                Software Developer and Founder of aurjobs.com, a online EdTech platform where people can find jobs and get consulting and courses for the jobs they are applying.
            </p>
            <p class="newcontact">
            <a href="https://www.linkedin.com/in/keshav-agarwal-805757220"><h2></h2><img  class="contacticon1" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin https://www.linkedin.com/in/keshav-agarwal-805757220"/></a>
            <a href="https://www.instagram.com/keshav_king_7/"><img class="contacticon1"  src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="Aurjobs Founder Contact https://www.instagram.com/keshav_king_7/"></a>
            <a href="https://twitter.com/ChaubeyAnshika_"><img class="contacticon1"  src="twitter.svg" alt="twitter--v1"></a>
            <a href=""><img class="contacticon1"  src="https://img.icons8.com/color/48/stackoverflow.png" alt="stackoverflow"/></a>
            </p>
            </div>
            <div class="newimg">
                <img src="avatar1.png" alt="Aurjobs">
            </div>
        <!-- </div> -->
        </div>
    </section>
    <section class="contact">
        <h1>Contact</h1>
        <p>
<div class="wrapper centered">
  <article class="letter">
    <div class="side">
      <p>
        <textarea placeholder="Your message"></textarea>
      </p>
    </div>
    <div class="side">
      <p>
        <input type="text" placeholder="Your name" >
      </p>
      <p>
        <input type="email" placeholder="Your email" >
      </p>
      <p>
        <form action="/sendmail">
        <button id="sendLetter">Send</button>
        </form>
      </p>
    </div>
  </article>
  <div class="envelope front"></div>
  <div class="envelope back"></div>
</div>
<p class="result-message centered">Thank you for your message</p>
        </p>
    </section>


    <!-- Bottom code -->

    <section class="bottom">
        <div class="newbottomcontact">
            <h1>Address</h1>
            <h4>New Delhi, India</h4>
            <p><h4>Aurjobsa@gmail.com</h4></p>
            <p><h4>Phone</h4></p>
        </div>
        <div class="newbottomlinks">
            <h1>Latest</h1>
            <div class="newlinks">
            <div><a href="https://www.linkedin.com/company/aurjobs"><img src="linkedin.svg" alt=""></a></div>
            <div><a href="https://www.instagram.com/aurjobsofficial/"><img src="instagram.svg" alt=""></a></div>
            <div><a href="https://www.facebook.com/people/AurjobsOfficial/61556103504038"><img src="facebook.svg" alt=""></a></div>
            <div><a href="https://twitter.com/ChaubeyAnshika_"><img src="twitter.svg" alt=""></a></div>
            </div>
            <p>Contact with us To stay Updated</p>
        </div>
        <div class="newbottompages">
            <h1>Pages</h1>
            <p><h4>Home</h4></p>
            <p><h4>Blogs</h4></p>
            <p><h4>Resume Review</h4></p>
            <p><h4>Subscription.ai</h4></p>
            <p><h4>About</h4></p>
        </div>
    </section>
    <script>
        function addClass() {
            document.body.classList.add("sent");
          }
          
          sendLetter.addEventListener("click", addClass);

          function toggleMobileMenu(menu) {
            menu.classList.toggle('open');
        }
    </script>
</body>
</html>