*{
    margin: 0;
    padding: 0;
}

.heading{
    background-color: #17141d;
}

h1{
    margin: auto;
    padding: 2%;
    text-align: center;
    text-transform: capitalize;
    
}

.heading img{
  padding-top: 4%;
  width: 10%;
}

.heading{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

.heading h1,h2{
  text-align: center;
  transition: all 1s ease-out;
}

.main{
    margin: 0;
    padding: 0;
    padding-top: 10%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    background-color: #17141d;
}

/* .main h1, .contact h1{
    padding: 4%;
} */

.contact h1{
  color: white;
}

.newpage h1,p,h2{
    margin: 0;
    padding: 2%;
    text-align: left;
    text-transform: capitalize;
    font-size: large;
}

/* .newfounder p{
    margin: auto;
    padding: 2%;
    width: 80%;
    display: flex;
    flex-direction: row;
} */

.newpage{
    margin: auto;
    padding: 2%;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    border-radius: 25px;
    position: relative;
}

.newimg{
    margin: 0;
    padding: 2%;
    width: 20%;
    height: 100%;
}

.newimg img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 1px transparent solid;
    border-radius: 50%;
}

.newdetails{
    margin: 0;
    padding: 2%;
    width: 80%;
    height: 100%;
}

.newdetails p{
    /* display: flex;
    flex-direction: column; */
    font-size: medium;
    text-transform: lowercase;
    padding: 2%;
    color: black;
}

.newcontact{
    display: flex;
    flex-direction: row;
    
}

.contacticon1{
    margin: 2%;
    width: 4%;
    height: 4%;
}

.newpages .header {
	width: 100%;
	height: 75px;
    display: flex;
    flex-direction: row;
	background: #17141d;
	opacity: 0.95;
	overflow: hidden;
	-webkit-box-shadow: #333 1px 3px 4px;
	-moz-box-shadow: #333 1px 3px 4px;
	box-shadow: #333 1px 3px 4px;
}

.newpages h1 {
	letter-spacing: 4px;
	padding: .4em;
	color: white;
	background-color: #17141d;
	opacity: 0.8;
}

.aurjobs{
    justify-content: left;
    margin: auto;
    width: 20%;
    height: 100%;
}

.newpages svg.line-top {
	width: 100%;
	background-color: #17141d;
}
.newpages svg.line-bottom {
	width: 100%;
}
.menu {
	width: 750px;
	margin: 0 auto;
}
.newpages ul {
	padding: 0;
	margin: 0;
}

.newpages ul li {
	margin: 0;
	padding: 10px 0 10px 0;
	width: 25%;
	height: 10px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 3.5px;
	transition: all 0.5s ease-out;
}

.newpages li.active {
	color: orange;
	transform: scale(1.1);
}

.newpages polygon {
	stroke-width: 2px;
	stroke: orange;
	fill: orange;
}

@media (max-device-width: 991px) {
	.header {
		height: 64px;
	}

	body {
		font-size: 0.4em;
	}
	.content {
		height: calc(100% - 64px);
	}
}




@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
.letter h1 {
  font-size: 2rem;
  font-family: 'Dancing Script';
}
small {
  display: block;
  padding: 1rem 0;
  font-size: 0.8rem;
  transition: opacity 0.33s;
}
textarea, input, button {
  line-height: 1.5rem;
  border: 0;
  outline: none;
  font-family: inherit;
  appearance: none;
}
textarea, input {
  color: #4e5e72;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}
textarea {
 width: 100%;
 height: 8rem;
 resize: none;
}
input {
 width: 50%;
 margin-bottom: 1rem;
  &[type=text]:invalid, [type=email]:invalid {
    box-shadow: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(240, 132, 114, 0.5)' x='0' y='23' width='10' height='1'/></svg>");
  }
}
button {
 padding: 0.5rem 1rem;
 border-radius: 0.25rem;
 background-color: rgba(78, 94, 114, 0.9);
 color: white;
 font-size: 1rem;
 transition: background-color 0.2s;
  &:hover,:focus {
    outline: none;
    background-color: rgba(78, 94, 114, 1);
  }
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(78, 94, 114, 0.3)' x='0' y='23' width='10' height='1'/></svg>");
  outline: none;
}
.wrapper {
  width: 100%;
  background-color: #17141d;
}
.letter {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 60%;
  margin: auto;
  perspective: 60rem;
  background-color: #17141d;
}
.side {
  height: 12rem;
  background-color: #fcfcf8;
  outline: 1px solid transparent;
  &:nth-of-type(1) {
    padding: 2rem 2rem 0;
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
  }
  &.side:nth-of-type(2) {
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05), inset 0 -0.57rem 2rem rgba(229, 225, 187, 0.5);
    text-align: right;
  }
}
.envelope {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.envelope.front {
  width: 10rem;
  height: 6rem;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  z-index: 9999;
  opacity: 0;
}
.envelope.front::before, .envelope.front::after {
  position: relative;
  display: block;
  width: 12rem;
  height: 6rem;
  background-color: #e9dc9d;
  transform: rotate(30deg);
  transform-origin: 0 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  content: '';
}
.envelope.front::after{
  right: 0;
  transform: rotate(-30deg);
  transform-origin: 100% 0;
}
.envelope.back {
  top: -4rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  z-index: -9998;
  opacity: 0;
  transform: translateY(-6rem);
  &::before {
    display: block;
    width: 10rem;
    height: 10rem;
    background-color: #e9dc9d;
    border-radius: 1rem;
    content: '';
    transform: scaleY(0.6) rotate(45deg)
  }
}
.result-message {
  opacity: 0;
  transition: all 0.3s 2s;
  transform: translateY(9rem);
  z-index: -9999;
  text-align: center;
}
.sent {
  & .letter {
    animation: scaleLetter 1s forwards ease-in /*,
               pushLetter 0.5s 1.33s forwards ease-out*/ ;
  }
  & .side:nth-of-type(1) {
    transform-origin: 0 100%;
    animation: closeLetter 0.66s forwards ease-in;
  }
  & .side:nth-of-type(1) h1, .side:nth-of-type(1) textarea {
    animation: fadeOutText 0.66s forwards linear;
  }
  & button {
    background-color: rgba(78, 94, 114, 0.2);
  }
  & .envelope {
    animation: fadeInEnvelope 0.5s 1.33s forwards ease-out;
  }
  & .result-message {
    opacity: 1;
    transform: translateY(12rem);
  }
  & small {
    opacity: 0;
  }
}
.centered {
  position: relative;
  left: 0;
  right: 0;
  margin: 1rem auto;
}
@keyframes closeLetter {
   50% {transform: rotateX(-90deg);}
   100% {transform: rotateX(-180deg);}
}
@keyframes fadeOutText {
   49% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 0;}
}
@keyframes fadeInEnvelope {
  0% {opacity: 0; transform: translateY(8rem);}
  /*90% {opacity: 1; transform: translateY(4rem);}*/
  100% {opacity: 1; transform: translateY(4.5rem);}
}
@keyframes scaleLetter {
  66% {transform: translateY(-8rem) scale(0.5, 0.5);}
  75% {transform: translateY(-8rem) scale(0.5, 0.5);}
  90% {transform: translateY(-8rem) scale(0.3, 0.5);}
  97% {transform: translateY(-8rem) scale(0.33, 0.5);}
  100%{transform: translateY(-8rem) scale(0.3, 0.5);}
}

/*
@keyframes pushLetter {
  0% {transform: translateY(-8rem) scale(0.3, 0.5);}
  50% {transform: translateY(-8rem) scale(0.3, 0.5);}
  90% {transform: translateY(-8.5rem) scale(0.3, 0.5);}
  100% {transform: translateY(-8rem) scale(0.3, 0.5);}
}
*/


.contact{
  width: 100%;
  background-color: #17141d;
}

@media only screen and (max-width: 800px){
  .heading h2{
    text-align: center;
  }
}

