<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurjobs</title>
    <link rel="stylesheet" href="addpages.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1786643855119477"
    crossorigin="anonymous"></script>
</head>
<body>
    <section class="main">
        <h1>Blogs</h1>
        <p>Blogs By Aurjobs.com</p>
        <input type="text" class="search" name="" id="searchblogs" placeholder="Search Blogs">
    </section>
    <section class="pages">
        <div class="container">
          <a href="blogs/newpage1.html">
            <div class="card">
              <div class="card__header">
                <img src="/views/blogs/new4.jpg" alt="Aurjobs ai startup" class="card__image" width="600">
              </div>
              <div class="card__body">
                <span class="tag tag-blue">Technology</span>
                <h4>Aurjobs : Ai Startup Changing the Hiring Industry</h4>
                <p>Read Complete Blog : Ai is Changing the Industry with </p>
              </div>
              <div class="card__footer">
                <div class="user">
                  <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
                  <div class="user__info">
                    <h5>Jane Doe</h5>
                    <small>2h ago</small>
                  </div>
                </div>
              </div>
            </div>
            </a>
            <div class="card">
              <a href="blogs/How-to-get-a-job-at-google.html">
              <div class="card__header">
                <img src="blogs/newblog-01.jpg" alt="card__image" class="card__image" width="600">
              </div>
              <div class="card__body">
                <span class="tag tag-brown">Food</span>
                <h4>How to Get a Job at Google as a College Student</h4>
                <p>Getting a job at Google is a dream for many college students, but it can seem daunting.</p>
              </div>
              <div class="card__footer">
                <div class="user">
                  <img src="https://i.pravatar.cc/40?img=2" alt="user__image" class="user__image">
                  <div class="user__info">
                    <h5>Raghav Bansal</h5>
                    <small>Yesterday</small>
                  </div>
                </div>
              </div>
              </a>
            </div>
            <div class="card">
              <div class="card__header">
                <img src="https://source.unsplash.com/600x400/?car,automobile" alt="card__image" class="card__image" width="600">
              </div>
              <div class="card__body">
                <span class="tag tag-red">Automobile</span>
                <h4>Race to your heart content</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
              </div>
              <div class="card__footer">
                <div class="user">
                  <img src="https://i.pravatar.cc/40?img=3" alt="user__image" class="user__image">
                  <div class="user__info">
                    <h5>John Doe</h5>
                    <small>2d ago</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1581117158690045"
     crossorigin="anonymous"></script>
</body>
</html>