<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
    <section class="heading">
        <h1>Courses</h1>
        <h2>find the free courses here</h2>
        <input type="search" name="searchcourses" id="">
        <link rel="stylesheet" href="courses.css">
    </section>
    <section class="maincourses">
        <div class="newcoursety">

        </div>
        <div class="newcourselist">
            <article>
                <figure><img src="download__8_-removebg-preview (2).png" alt=""></figure>
                <h2>DSA Course</h2>
                <p>Instructor : Love Babber</p>
            </article>
        </div>
    </section>
    </div>
</body>
</html>