*{
    margin: 0;
    padding: 0;
}

.box{
    margin: 0;
    padding: 0;
    width: 60%;
    height: 60%;
    border-right: 1px solid black;
    font-size: 150%;
}

.job{
    margin: 0;
    padding: 10%;
    width: 80%;
    height:30%;
    /* background: linear-gradient(rgb(13, 71, 158), rgb(85, 155, 235) ); */
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    transition: 2s;
}

h1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20%;
    color: white;
    font-family: sans-serif;
}

.newheading{
    margin: 2%;
    padding: 0;
    font-size: 150%;
    text-decoration: none;
    text-transform: capitalize;
}

.job div{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    font-size: 60%;
    font-family: sans-serif;

}

.jobdata{
    margin: 0;
    padding: 4%;
    width: 80%;
    height: 60%;
    transition: 2s;
}

.ad{
    margin: 0;
    padding: 0;
    width: 40%;
    height: 100%;
    background-color: black;
}

.jobdata button{
    margin: 10%;
    padding: 10px;
    width: auto;
    height: 10%;
    background-color: rgba(9, 47, 173, 0.829);
    border: 1px solid transparent;
    color: white;
    opacity: .8;

}

.jobdata button:hover{
    cursor: pointer;
    opacity: 1;
}


@media only screen and (max-width: 800px) {

    .box{
        width: 100%;
    }
    .ad{
        width: 0%;
    }
    .box { 
       font-size: 2em; 
    }

    .job div{
        margin-top: 20px;
    }
    .job h1{
        font-size: 40px;
        padding: 4px;
    }
    .job h2{
        font-size: 24px;
        padding: 1px;
    }
    .jobdetail{
        margin: auto;
        padding: 1%;
        text-align: justify;
        font-size: 20px;
    }
    .jobdetail button{
        margin: auto;
        width: 60%;
        text-align: center;
        margin-top: 40px;
    }
 
 }

