<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="NewBottom.css">
</head>
<body>
    <section class="bottom">
        <div class="newbottomcontact">
            <h1>Address</h1>
            <h4>New Delhi, India</h4>
            <p><h4>Aurjobsa@gmail.com</h4></p>
            <p><h4>Phone</h4></p>
        </div>
        <div class="newbottomlinks">
            <h1>Latest</h1>
            <div class="newlinks">
            <div><a href="https://www.linkedin.com/company/aurjobs"><img src="linkedin.svg" alt=""></a></div>
            <div><a href="https://www.instagram.com/aurjobsofficial/"><img src="instagram.svg" alt=""></a></div>
            <div><a href="https://www.facebook.com/people/AurjobsOfficial/61556103504038"><img src="facebook.svg" alt=""></a></div>
            <div><a href="https://twitter.com/ChaubeyAnshika_"><img src="twitter.svg" alt=""></a></div>
            </div>
            <p>Contact with us To stay Updated</p>
        </div>
        <div class="newbottompages">
            <h1>Pages</h1>
            <p><h4>Home</h4></p>
            <p><h4>Blogs</h4></p>
            <p><h4>Resume Review</h4></p>
            <p><h4>Subscription.ai</h4></p>
            <p><h4>About</h4></p>
        </div>
    </section>
</body>
</html>