*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.maincontainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #17141d;
}

.heading{
    margin: 0;
    padding: 0;
    margin-top: 1%;
    width: 100%;
    text-align: center;
}

.heading img{
    width: 10%;
}

.maincontainer h1{
    margin: 0;
    padding: 0;
    margin-top: 4%;
    text-align: center;
    color: white;
}

body{
    background-color: #17141d;
}

.main{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #17141d;
}

.container{
    margin: auto;
    margin-top: 4%;
    padding: 0;
    width: 80%;
    background-color: #17141d;
}

.main .uploadresume, .main .uploadjd{
    margin: auto;
    padding: 0;
    width: 80%;
    background-color: white;
}

.main .uploadresume input, .main .uploadjd input{
    margin: 0;
    padding: 2%;
    width: 100%;

}

.main .container button{
    margin: auto;
    margin-top: 4%;
    width: 10%;
    text-align: center;
}

.main .container button:hover{
    cursor: pointer;
}

.response{
    margin: auto;
    margin-top: 4%;
    padding: 2%;
    width: 80%;
    height: 40%;
    color: black;
    text-decoration: solid;
    font-size: medium;
    border: 1px solid transparent;
    border-radius: 1%;
    background-color: white;
}

.backbutton{
    margin: 1%;
    width: 36px;
}