<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resumereview.css">
</head>
<body>
    <section class="main">
        <form action="/resume">
        <div class="mainfile">
        <div class="uploadresume">
            <input type="file" name="resume" id="resume">
        </div>
        <div class="uploadjd">
            <input type="file" name="jd" id="jd">
        </div>
        </div>
        <button type="submit">Submit</button>
        </form>
    </section>
</body>
</html>