<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="subscription.css">
</head>
<body>
    <section class="aboutsubscription">
        <div class="newheading">
        <div class="newmovingimage">
            <div class="newheading">
            <h1 class="heading  newelement"><img src="heading.png" alt=""></h1>
            <h1 class="newheading1">
                Subscription Ai is the Project of <code> Aurjobs.com </code> that helps ypu to get the right premium jobs from MNCs right in your inbox. <code> Now, you can rest and let Ai find jobs for you.</code>
            </h1>
            </div>
            <img src="newmovingimage.png" alt="" class="newelement">
        </div>
        </div>
    </section>
    <section class="newsubscribe" id="newsubscribe">
        <div class="demo-page">
            <div class="demo-page-navigation">
              <nav>
                <ul>
                  <li>
                    <a href="#installation">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tool">
                        <path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z" />
                      </svg>
                      Installation</a>
                  </li>
                  <li>
                    <a href="#structure">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                        <polygon points="12 2 2 7 12 12 22 7 12 2" />
                        <polyline points="2 17 12 22 22 17" />
                        <polyline points="2 12 12 17 22 12" />
                      </svg>
                      Structure</a>
                  </li>
                  <li>
                    <a href="#input-types">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                        <line x1="21" y1="10" x2="3" y2="10" />
                        <line x1="21" y1="6" x2="3" y2="6" />
                        <line x1="21" y1="14" x2="3" y2="14" />
                        <line x1="21" y1="18" x2="3" y2="18" />
                      </svg>
                      Input types</a>
                  </li>
                  <li>
                    <a href="#checkbox-and-radio">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
                        <polyline points="9 11 12 14 22 4" />
                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
                      </svg>
                      Checkbox and Radio</a>
                  </li>
                  <li>
                    <a href="#fieldset">
                      <svg xmlns="http://www.w3.org/2000/svg" style="transform: rotate(90deg)" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns">
                        <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18" />
                      </svg>
                      Fieldset</a>
                  </li>
          
                  <li>
                    <a href="#icons">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather">
                        <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z" />
                        <line x1="16" y1="8" x2="2" y2="22" />
                        <line x1="17.5" y1="15" x2="9" y2="15" />
                      </svg>
                      Icons</a>
                  </li>
                  <li>
                    <a href="#validation">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle">
                        <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />
                        <line x1="12" y1="9" x2="12" y2="13" />
                        <line x1="12" y1="17" x2="12.01" y2="17" />
                      </svg>
                      Validation</a>
                  </li>
                  <li>
                    <a href="#date">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
                        <line x1="16" y1="2" x2="16" y2="6" />
                        <line x1="8" y1="2" x2="8" y2="6" />
                        <line x1="3" y1="10" x2="21" y2="10" />
                      </svg>
                      Date input</a>
                  </li>
                  <li>
                    <a href="#other">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server">
                        <rect x="2" y="2" width="20" height="8" rx="2" ry="2" />
                        <rect x="2" y="14" width="20" height="8" rx="2" ry="2" />
                        <line x1="6" y1="6" x2="6.01" y2="6" />
                        <line x1="6" y1="18" x2="6.01" y2="18" />
                      </svg>
                      Other input types</a>
                  </li>
                  <li>
                    <a href="#reset">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power">
                        <path d="M18.36 6.64a9 9 0 1 1-12.73 0" />
                        <line x1="12" y1="2" x2="12" y2="12" />
                      </svg>
                      Reset only</a>
                  </li>
                  <li>
                    <a href="#customization">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders">
                        <line x1="4" y1="21" x2="4" y2="14" />
                        <line x1="4" y1="10" x2="4" y2="3" />
                        <line x1="12" y1="21" x2="12" y2="12" />
                        <line x1="12" y1="8" x2="12" y2="3" />
                        <line x1="20" y1="21" x2="20" y2="16" />
                        <line x1="20" y1="12" x2="20" y2="3" />
                        <line x1="1" y1="14" x2="7" y2="14" />
                        <line x1="9" y1="8" x2="15" y2="8" />
                        <line x1="17" y1="16" x2="23" y2="16" />
                      </svg>
                      Customization</a>
                  </li>
                  <li>
                    <a href="#contribute">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                        <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
                      </svg>
                      Contribute</a>
                  </li>
                </ul>
              </nav>
            </div>
            <main class="demo-page-content">
              <section>
                <div class="href-target" id="intro"></div>
                <h1 class="package-name">Subscription.Ai-Form</h1>
                <p>
                  Subscribe.Ai to get the Desired Premium job in MNCs right in
                  Hands <strong>Subscription.Ai</strong> is the Ai Feature that search Desired jobs for you while you Party, <strong>Aurjobs</strong>.
                </p>
                <strong>In a nutshell:</strong>
                <ul>
                  <li>It provides a Premium jobs from over the web</li>
                  <li>reduces your effort fro searching jobs</li>
                  <li>Easily apply jobs right for you</li>
                  <li>
                    Perfect for rapid prototyping or tweak it and make it your own.
                  </li>
                  <li>No hacks or unnecessary elements, pure semantics</li>
                </ul>
              </section>
          
              <!-- <section>
                <div class="href-target" id="installation"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tool">
                    <path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z" />
                  </svg>
                  Installation
                </h1>
                <p>
                  Import nice-forms.css from <strong>unpkg</strong>
                  <br />
                  <code>https://unpkg.com/nice-forms.css/nice-forms.css</code>
                </p>
                <p>
                  Install via <strong>NPM</strong>
                  <br />
                  <code> npm install nice-forms.css </code>
                </p>
              </section> -->
          
              <section>
                <div class="href-target" id="structure"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                    <polygon points="12 2 2 7 12 12 22 7 12 2" />
                    <polyline points="2 17 12 22 22 17" />
                    <polyline points="2 12 12 17 22 12" />
                  </svg>
                  Personal Details
                </h1>
                <p>
                  All you need to do is add the class <code>.nice-form-group</code> to
                  get a nice base style for all your input fields. Add a
                  <code>small</code> element for additional information, this can be
                  below the label or below the field.
                </p>
          
                <div class="nice-form-group">
                  <label>Tell us Your Name</label>
                  <input type="text" placeholder="Your name" class="icon-left" required/>
                </div>
          
                <div class="nice-form-group">
                  <label>Tell us Your Email</label>
                  <input type="email" placeholder="Your Email" class="icon-left" required/>
                </div>
          
                <div class="nice-form-group">
                  <label>Phone</label>
                  <input type="tel" placeholder="+91 - 0000000000" class="icon-left" required/>
                  <small>Add your Country Code</small>
                </div>
          
                <details>
                  <summary>
                    <div class="toggle-code">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code">
                        <polyline points="16 18 22 12 16 6" />
                        <polyline points="8 6 2 12 8 18" />
                      </svg>
                      Next Section
                    </div>
                  </summary>
                  <script src="https://gist.github.com/nielsVoogt/a00c2c8b6b7acfacce6d50926379e722.js"></script>
                </details>
              </section>
          
              <section>
                <div class="href-target" id="input-types"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                    <line x1="21" y1="10" x2="3" y2="10" />
                    <line x1="21" y1="6" x2="3" y2="6" />
                    <line x1="21" y1="14" x2="3" y2="14" />
                    <line x1="21" y1="18" x2="3" y2="18" />
                  </svg>
                  Job Details
                </h1>
                <p>Tell us your work</p>
          
                <div class="nice-form-group">
                  <label>Jobs Title</label>
                  <input type="text" placeholder="client Executive" value="" />
                </div>
          
                <div class="nice-form-group">
                  <label>Location</label>
                  <input type="text" placeholder="Delhi" value="" />
                </div>
          
                <div class="nice-form-group">
                  <label>Years of Experience</label>
                  <input type="number" placeholder="Years" value="" />
                </div>
          
                <div class="nice-form-group">
                  <label>Desired Salary</label>
                  <input type="number" placeholder="Desired Salary" value="" />
                </div>
          
                <div class="nice-form-group">
                  <label>Upload Resume</label>
                  <input type="file" placeholder="Your password" required/>
                </div>
          
                <div class="nice-form-group">
                  <label></label>
                  <input type="search" placeholder="Search all the things" value="" />
                </div>

                <div class="nice-form-group">
                    <label>Date of Birth</label>
                    <input type="date" placeholder="" value="2018-07-22" />
                </div>
          
                <div class="nice-form-group">
                  <label>Linkedin</label>
                  <input type="url" placeholder="Linkedin" class="icon-left" value="" />
                </div>
                <details>
                  <summary>
                    <div class="toggle-code">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code">
                        <polyline points="16 18 22 12 16 6" />
                        <polyline points="8 6 2 12 8 18" />
                      </svg>
                      Next Section
                    </div>
                  </summary>
                  <script src="https://gist.github.com/nielsVoogt/e25c9c8f2b8456bbd1239b775d21333f.js"></script>
                </details>
              </section>
          
              <section>
                <div class="href-target" id="checkbox-and-radio"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
                    <polyline points="9 11 12 14 22 4" />
                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
                  </svg>
                  Educational Background and Eligiblity :
                </h1>
                <p>
                  <legend>This Feature allows you to get <strong>premium jobs to your <code>Inbox</code>.</strong></legend>
                  <small>You can select multiple options </small>
                </p>
          
                <!-- <fieldset class="nice-form-group">
                   <label>Available to work</label>
                  <div class="nice-form-group">
                    <input type="radio" name="radio" id="r-1" />
                    <label for="r-1">Immediately</label>
                  </div>
          
                  <div class="nice-form-group">
                    <input type="radio" name="radio" id="r-2" />
                    <label for="r-2">
                      Radio button with label
                      <small>Radio can have additional information</small>
                    </label>
                  </div>
                </fieldset> -->
          
                <fieldset class="nice-form-group">
                  <div class="nice-form-group">
                    <input type="checkbox" id="check-1" />
                    <label for="check-1">Email</label>
                  </div>
          
                  <div class="nice-form-group">
                    <input type="checkbox" id="check-2" />
                    <label for="check-2">
                      Whatsapp
                    </label>
                  </div>

                  <div class="nice-form-group">
                    <input type="checkbox" id="check-2" />
                    <label for="check-2">
                      Phone
                    </label>
                  </div>
                </fieldset>
                <!-- <br />
                <p>
                  <strong style="display: block">Switch</strong>
                  If you want a checkbox to look like a switch, just add a
                  <code>.switch</code> class to the checkbox input element
                </p> -->
          
                <!-- <fieldset class="nice-form-group">
                  <div class="nice-form-group">
                    <input type="checkbox" id="check-3" class="switch" />
                    <label for="check-3">Switch with label</label>
                  </div>
          
                  <div class="nice-form-group">
                    <input type="checkbox" id="check-4" class="switch" />
                    <label for="check-4">
                      Switch with label
                      <small>I am additional information regarding this field</small>
                    </label>
                  </div>
                </fieldset> -->
          
                <details>
                  <summary>
                    <div class="toggle-code">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code">
                        <polyline points="16 18 22 12 16 6" />
                        <polyline points="8 6 2 12 8 18" />
                      </svg>
                      Next Section
                    </div>
                  </summary>
                  <script src="https://gist.github.com/nielsVoogt/5c490e16bc1b63bba29d4ee76477f94d.js"></script>
                </details>
              </section>
          
              <section>
                <div class="href-target" id="fieldset"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" style="transform: rotate(90deg)" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns">
                    <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18" />
                  </svg>
                  Job Domains Preffered
                </h1>
                <p>
                  The <code>Roles</code> is used to categorise the jobs and provide Best jobs for you. All <code>Jobs from your Industry.</code>
                  will automaticly in your hands.
                </p>
          
                <!-- <fieldset class="nice-form-group">
                  <legend>Select your favorite framework</legend>
                  <div class="nice-form-group">
                    <input type="radio" name="radio" id="react" />
                    <label for="react">React</label>
                  </div>
          
                  <div class="nice-form-group">
                    <input type="radio" name="radio" id="vue" />
                    <label for="vue">Vue</label>
                  </div>
          
                  <div class="nice-form-group">
                    <input type="radio" name="radio" id="angular" />
                    <label for="angular">Angular</label>
                  </div>
                </fieldset> -->
          
                <fieldset class="nice-form-group">
                  <legend>Select the Role you are Interested in</legend>
                  <div class="nice-form-group">
                    <input type="checkbox" id="css" />
                    <label for="css">Software Engineer and IT Roles</label>
                  </div>
          
                  <div class="nice-form-group">
                    <input type="checkbox" id="js" />
                    <label for="js">Executive and Manager Roles</label>
                  </div>

                  <div class="nice-form-group">
                    <input type="checkbox" id="css" />
                    <label for="css">HR and Hiring Roles</label>
                  </div>
          
                  <div class="nice-form-group">
                    <input type="checkbox" id="css" />
                    <label for="css">Graphics, UI and Designing Roles</label>
                  </div>
                  
                  <div class="nice-form-group">
                    <input type="checkbox" id="css" />
                    <label for="css">Sales and Marketing Roles</label>
                  </div>

                  <div class="nice-form-group">
                    <input type="checkbox" id="css" />
                    <label for="css">Research Roles</label>
                  </div>

                  <div class="nice-form-group">
                    <input type="checkbox" id="css" />
                    <label for="css">Finance Roles</label>
                  </div>
                </fieldset>
                <details>
                  <summary>
                    <div class="toggle-code">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code">
                        <polyline points="16 18 22 12 16 6" />
                        <polyline points="8 6 2 12 8 18" />
                      </svg>
                      Next Section
                    </div>
                  </summary>
                  <script src="https://gist.github.com/nielsVoogt/e513d0df728dfc3fb1f5f9ecae042bf8.js"></script>
                </details>
              </section>
          
              <!-- <section>
                <div class="href-target" id="icons"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather">
                    <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z" />
                    <line x1="16" y1="8" x2="2" y2="22" />
                    <line x1="17.5" y1="15" x2="9" y2="15" />
                  </svg>
                  Icons
                </h1>
                <p>
                  For some input types it could make sense to show a icon. These icons
                  are hidden by default but can be added by adding either
                  <code>.icon-left</code> or <code>.icon-right</code> to the input
                  element. The icons used are from
                  <a href="https://feathericons.com/" target="_blank">feathericons</a>.
                </p>
          
                <div class="nice-form-group">
                  <label>Phonenumber</label>
                  <input type="tel" placeholder="Your phonenumber" value="" class="icon-left" />
                </div>
          
                <div class="nice-form-group">
                  <label>Url</label>
                  <input type="url" placeholder="www.google.com" value="" class="icon-left" />
                </div>
          
                <div class="nice-form-group">
                  <label>Email</label>
                  <input type="email" placeholder="Your email" value="" class="icon-left" />
                </div>
          
                <div class="nice-form-group">
                  <label>Password</label>
                  <input type="password" placeholder="Your password" class="icon-left" />
                </div>
          
                <div class="nice-form-group">
                  <label>Phonenumber</label>
                  <input type="tel" placeholder="Your phonenumber" value="" class="icon-right" />
                </div>
          
                <div class="nice-form-group">
                  <label>Url</label>
                  <input type="url" placeholder="www.google.com" value="" class="icon-right" />
                </div>
          
                <div class="nice-form-group">
                  <label>Email</label>
                  <input type="email" placeholder="Your email" value="" class="icon-right" />
                </div>
          
                <div class="nice-form-group">
                  <label>Password</label>
                  <input type="password" placeholder="Your password" class="icon-right" />
                </div>
          
                <details>
                  <summary>
                    <div class="toggle-code">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code">
                        <polyline points="16 18 22 12 16 6" />
                        <polyline points="8 6 2 12 8 18" />
                      </svg>
                      Toggle code
                    </div>
                  </summary>
                  <script src="https://gist.github.com/nielsVoogt/8cc4cd8ebc6e81c3f889f1b40037b0cc.js"></script>
                </details>
              </section> -->
          
              <!-- <section>
                <div class="href-target" id="validation"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle">
                    <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />
                    <line x1="12" y1="9" x2="12" y2="13" />
                    <line x1="12" y1="17" x2="12.01" y2="17" />
                  </svg>
                  Field Validation
                </h1>
                <p>
                  Fields that have a <code>required</code> attribute can be valid or
                  invalid based on their value. When a user focuses on a invalid field
                  the styling is set back to default.
                </p>
          
                <div class="nice-form-group">
                  <label>Email</label>
                  <input type="email" placeholder="Your email" value="this is not a email adress" required />
                </div>
          
                <div class="nice-form-group">
                  <label>Email</label>
                  <input type="email" placeholder="Your email" value="nice@forms.com" required />
                </div>
                <details>
                  <summary>
                    <div class="toggle-code">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code">
                        <polyline points="16 18 22 12 16 6" />
                        <polyline points="8 6 2 12 8 18" />
                      </svg>
                      Toggle code
                    </div>
                  </summary>
                  <script src="https://gist.github.com/nielsVoogt/75ebf8c12ca420eb2089312a931ab4cf.js"></script>
                </details>
              </section> -->
          
              <!-- <section>
                <div class="href-target" id="date"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
                    <line x1="16" y1="2" x2="16" y2="6" />
                    <line x1="8" y1="2" x2="8" y2="6" />
                    <line x1="3" y1="10" x2="21" y2="10" />
                  </svg>
                  Date input
                </h1>
                <p>
                  Date fields show icons by default. The <code>month</code>,
                  <code>week</code> and <code>date</code> fields have a fixed min
                  width set at 14em. <code>time</code> is set at 7em.
                </p>
          
                <div class="nice-form-group">
                  <label>Month</label>
                  <input type="month" value="2018-05" />
                </div>
          
                <div class="nice-form-group">
                  <label>Week</label>
                  <input type="week" value="2017-W01" />
                </div>
          
                <div class="nice-form-group">
                  <label>Date</label>
                  <input type="date" value="2018-07-22" />
                </div>
          
                <div class="nice-form-group">
                  <label>Time</label>
                  <input type="time" value="13:30" />
                </div>
          
                <details>
                  <summary>
                    <div class="toggle-code">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code">
                        <polyline points="16 18 22 12 16 6" />
                        <polyline points="8 6 2 12 8 18" />
                      </svg>
                      Toggle code
                    </div>
                  </summary>
                  <script src="https://gist.github.com/nielsVoogt/2ae279af287e520f545285b0d7c45828.js"></script>
                </details>
              </section> -->
          
              <section>
                <div class="href-target" id="other"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server">
                    <rect x="2" y="2" width="20" height="8" rx="2" ry="2" />
                    <rect x="2" y="14" width="20" height="8" rx="2" ry="2" />
                    <line x1="6" y1="6" x2="6.01" y2="6" />
                    <line x1="6" y1="18" x2="6.01" y2="18" />
                  </svg>
                  Other input
                </h1>
          
                <div class="nice-form-group">
                  <label>Input message or Cover</label>
                  <textarea rows="5" placeholder="Your message"></textarea>
                </div>
          
                <!-- <div class="nice-form-group">
                  <label>Select</label>
                  <select>
                    <option>Please select a value</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>
                </div>
          
                <div class="nice-form-group">
                  <label>File upload</label>
                  <input type="file" />
                </div>
          
                <div class="nice-form-group">
                  <label>Range slider</label>
                  <input type="range" min="0" max="15" />
                </div>
          
                <div class="nice-form-group">
                  <label>Number</label>
                  <input type="number" placeholder="1234" />
                </div>
          
                <div class="nice-form-group">
                  <label>Color</label>
                  <input type="color" />
                </div> -->
          
                <details>
                  <summary>
                    <div class="toggle-code">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code">
                        <polyline points="16 18 22 12 16 6" />
                        <polyline points="8 6 2 12 8 18" />
                      </svg>
                      Next Section
                    </div>
                  </summary>
                  <script src="https://gist.github.com/nielsVoogt/f0480b1a2d0deda02138d61ec5c9f4d0.js"></script>
                </details>
              </section>
          
              <!-- <section>
                <div class="href-target" id="reset"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power">
                    <path d="M18.36 6.64a9 9 0 1 1-12.73 0" />
                    <line x1="12" y1="2" x2="12" y2="12" />
                  </svg>
                  Reset only
                </h1>
                <p>There is also a reset only version available, this version provides styled form fields out of the box without any wrapping class. This does however mean that <code>.icon-left</code>, <code>.icon-right</code> or <code>.switch</code> are not included.</p>
                <p>
                  Grab the raw CSS <a href="https://raw.githubusercontent.com/nielsVoogt/nice-forms.css/main/dist/nice-forms-reset.css">here</a>, or import the reset from <strong>unpkg</strong> via
                  <code>https://unpkg.com/nice-forms.css@0.1.7/dist/nice-forms-reset.css</code>
                </p>
          
                <a href="https://nielsvoogt.github.io/nice-forms.css/reset.html" class="to-reset" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
                    <polyline points="15 3 21 3 21 9" />
                    <line x1="10" y1="14" x2="21" y2="3" />
                  </svg>
                  Check out the example page
                </a>
              </section> -->
          
              <!-- <section>
                <div class="href-target" id="customization"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders">
                    <line x1="4" y1="21" x2="4" y2="14" />
                    <line x1="4" y1="10" x2="4" y2="3" />
                    <line x1="12" y1="21" x2="12" y2="12" />
                    <line x1="12" y1="8" x2="12" y2="3" />
                    <line x1="20" y1="21" x2="20" y2="16" />
                    <line x1="20" y1="12" x2="20" y2="3" />
                    <line x1="1" y1="14" x2="7" y2="14" />
                    <line x1="9" y1="8" x2="15" y2="8" />
                    <line x1="17" y1="16" x2="23" y2="16" />
                  </svg>
                  Customization
                </h1>
                <p>The styling is highly customizable using css variables.</p>
                <script src="https://gist.github.com/nielsVoogt/63daf967a17776d00f5923048cf28daf.js"></script>
              </section> -->
              
              <section class="newsubmit">
              <button type="submit" class="Submit">
                <a href="confirmationpage.html" class="to-repo" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="svgsubmit" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-aperture"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                    Subscribe
                </a>
              </button>
              </section>

              <section>
                <div class="href-target" id="contribute"></div>
                <h1>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
                  </svg>
                  Contribute
                </h1>
                <p>
                  Subscribe Ai is a free platform.. if you want to contribute for this you can use the following link.
                </p>
          
                <a href="https://github.com/nielsVoogt/nice-forms.css" class="to-repo" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
                    <polyline points="15 3 21 3 21 9" />
                    <line x1="10" y1="14" x2="21" y2="3" />
                  </svg>
                  Check out the repo
                </a>
              </section>
            </main>
          </div>
    </section>
    <section class="footer">
      
    </section>

    <!--Recreated southernshotty's rocket cartoon. See: https://www.youtube.com/watch?v=wMBu4ctUxn8-->
  <div class="newbackground">

  <div class="rain rain1"></div>
  <div class="rain rain2">
    <div class="drop drop2"></div>
  </div>
  <div class="rain rain3"></div>
  <div class="rain rain4"></div>
  <div class="rain rain5">
    <div class="drop drop5"></div>
  </div>
  <div class="rain rain6"></div>
  <div class="rain rain7"></div>
  <div class="rain rain8">
    <div class="drop drop8"></div>
  </div>
  <div class="rain rain9"></div>
  <div class="rain rain10"></div>
  <div class="drop drop11"></div>
  <div class="drop drop12"></div>
  <div id="canvas"></div>
  </div>
</body>
</html>